<div layout="column">

  <loading ng-if="isLoading"></loading>
  <md-toolbar layout="row" class="sub-nav-bar" layout-align="start center">
    <h2 class="sub-nav-title">
      Dashboard
    </h2>
    <h2 class="sub-nav-title" ng-if="current_plan">
      {{current_plan.name}} ({{current_plan.num_of_discounts_left}}/{{current_plan.num_of_discounts}})
    </h2>
    <h2 class="sub-nav-title" ng-if="!current_plan">
      There's no current plan, <a href="" title="purchase one" ui-sref="pricing">purchase one</a>
    </h2>
  </md-toolbar>

  <md-button class="md-fab btn-add-discount" ng-click="createDiscount($event)">
    <div class="plus-sign">+</div>
  </md-button>

  <div class="dashboard-content">

    <div layout="row" layout-padding layout-align="start start" layout-wrap class="discounts-container">

      <div class="thumb-discount-view" layout="row" layout-wrap>

        <div ng-repeat="discount in client.discounts track by $index" layout="column" class="discount-card">
          <div class="discount-image-container">
            <img src="" class="discount-thumb-logo" />
            <img src="" class="discount-thumb-background" />
            <div class="discount-thumb-title-image">
              {{ discount.title }}
            </div>
          </div>

          <div class="discount-thumb-main-info" layout="row">
            <i class="fa fa-circle active-icon" ng-show="discount.status"></i>
            <i class="fa fa-circle inactive-icon" ng-hide="discount.status"></i>
            <div class="discount-plan" flex layout="column">
              <div class="discount-thumb-info-name">{{ discount.title }}</div>
              <div class="discount-thumb-info-plan">{{ hashtags(discount.hashtags) }}</div>
            </div>
            <div class="discount-next-pay" layout="column">
              <div class="discount-thumb-date-label">Duration</div>
              <div class="discount-thumb-date">{{ discount.duration + ' min' }}</div>
            </div>
          </div>
              <div class="discount-thumb-date">Expire On: {{ discount.until_date | date:'dd/MMM hh:ma' }}</div>
        </div>

        <div class="discount-card demo-instruction-add-discount" ng-if="client.discounts.length <= 2">
          You can create more discounts by clicking the plus button.
        </div>
      </div>
    </div>

    <div class="questions" layout="column" layout-align="center center">
      <div class="text-questions">Have Questions? We have answers.</div>
      <md-button class="md-raised md-primary btn-contact-us">Contact Us</md-button>
    </div>
  </div>
</div>
