<div layout="column" layout-fill>

  <md-toolbar layout="row" class="profile-green-bar no-shadow" layout-align="center center">

    <div layout="row" flex="50" style="position: relative;">
      <div class="fa fa-pencil custom-edit-profile" ng-click="triggerFile($event)" ng-if="client.image_url"></div>
      <input ng-model="file"
             ng-file-select
             name="image"
             type="file"
             id="imagefield" style="height: 0; width: 0;"/>
      <div class="profile-pic-big" layout-align="center center" layout="column">
        <a href="" ng-if="!client.image_url" layout-align="center center" layout="column" style="text-decoration: none;" ng-click="triggerFile($event)">
          <span class="icon-profile-add fa fa-user"></span>
          <span class="label-profile-pic">+ profile pic</span>
        </a>
        <div upload file="file" set-profile-image="setProfileImage(value)"></div>
        <img height="100%" ng-src="{{client.image_url}}" alt="" ng-if="client.image_url" />
      </div>
      <h2 class="profile-green-title" flex>{{client.name}}</h2>
    </div>

  </md-toolbar>

  <div layout-align="center start" layout="row">
    <md-content layout="column" flex="50" style="background-color: transparent;">
      <loading ng-if="showLoading"></loading>

      <div class="spacer"></div>

      <form role="form" name="profileForm" ng-submit="updateProfile()" novalidate>

        <md-input-container flex>
          <label>Company Name</label>
          <input type="text" name="name" ng-model="client.name">
          <div ng-messages="profileForm.name.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>Email</label>
          <input type="text" name="email" ng-model="client.email" disabled>
          <div ng-messages="profileForm.email.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <label>Categories</label>
        <md-input-container flex>
          <md-switch ng-repeat="category in categories track by $index"
                      ng-model="category.enabled">
            {{category.name}}
          </md-switch>
        </md-input-container>

        <md-input-container flex>
          <label>Address</label>
          <input type="text" name="address" ng-model="address">
        </md-input-container>

        <md-button ng-click="addAddress(address)" type="button">
          Add Address
        </md-button>


        <md-list>
          <md-subheader class="md-no-sticky">{{client.name}} Addresses</md-subheader>
          <md-item ng-repeat="(index, c_address) in client.addresses track by $index">
            <p>
              <i class="md-avatar fa fa-globe"></i> {{c_address}}
              <md-button ng-click="deleteAddress(index)" type="button">X</md-button>
            </p>
          </md-item>
        </md-list>


        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary btn-float btn-green" style="width: 45%" type="submit">
            Save!
          </md-button>
        </div>

      </form>

      <h4 class="gray-text">Change Password</h4>
      <form role="form" name="passwordForm" ng-submit="changePassword(oldpass, newpass, confirm)" novalidate>
        <md-input-container flex>
          <label>Old Password</label>
          <input type="password" name="oldpass" ng-model="oldpass" required>
          <div ng-messages="passwordForm.oldpass.$error" ng-show="passwordForm.$submitted">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>New Password</label>
          <input type="password" name="newpass" ng-model="newpass" required>
          <div ng-messages="passwordForm.newpass.$error" ng-show="passwordForm.$submitted">
            <div ng-message="required">This is required.</div>
            <div ng-message="thesame">Password and New Password are the same</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>Confirm New Password</label>
          <input type="password" name="confirm" ng-model="confirm" required>
          <div ng-messages="passwordForm.confirm.$error" ng-show="passwordForm.$submitted">
            <div ng-message="required">This is required.</div>
            <div ng-message="notmatch">Password Confirmation not match Password</div>
          </div>
        </md-input-container>

        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary btn-float btn-green" style="width: 45%" type="submit">
            Change Password
          </md-button>
        </div>
      </form>

    </md-content>

  </div>

  <div layout-align="center start" layout="row">
    <p class="gray-text">All your personal information will be safe and will not be given to others.</p>
  </div>
</div>
